/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.root {
}

.sidebar {
    width: calc(100% / 3);
}

.main {
    width: calc((100% / 3) * 2);
}

.art {
   width: calc(100% / 2);
}


/*
 ***************************************************
 * UTILITY
 ***************************************************
 */

 .flex {
    display: flex;
 }

 .flex-wrap {
    flex-wrap: wrap;
 }

.justify-content-center {
    justify-content: center;
}

.text-center {
   text-align: center;
}

.font-2rem {
   font-size: 2rem;
}

.font-bold {
   font-weight: bold;
}

/*
 ***************************************************
 * DEBUG
 ***************************************************
 */

.color-white {
   color: white;
}

.color-dimgrey {
   color: dimgrey;
}

.bg-fuchsia {
   background-color: fuchsia;
}

.bg-yellow {
    background-color: yellow;
}

 .bg-blue {
    background-color: blue;
 }

 .bg-pink {
    background-color: pink;
 }

 .min-h-500 {
    min-height: 500px;
 }

  .min-h-100 {
    min-height: 100px;
 }